<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>视频主页</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div id="app">
    <el-container class="container">
        <el-header>
            <el-breadcrumb @click.native="handleBreadClick" separator-class="el-icon-arrow-right" v-show="!inputlist.input_show" class="path_input">
                <el-breadcrumb-item v-for="path in paths" :to="{ path: '/' }" @click.native.stop="back(path)">{{path}}</el-breadcrumb-item>
            </el-breadcrumb>
            <el-input @blur="inputlist.input_show=false;" placeholder="请输入路径" v-model="inputlist.filepath" class="path_input" style="background: none;" v-show="inputlist.input_show"></el-input>
            <el-input placeholder="请输入文件名" v-model="inputlist.filename" class="filename_input">
                <el-button slot="append" icon="el-icon-search" @click.native="searchfile"></el-button>
            </el-input>
        </el-header>
        <el-container>
            <el-aside>
                <el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
            </el-aside>
            <el-container>
                <el-main @click.native="card.card_show = false;blankcard.card_show=false;">
                    <el-table
                            :data="tableData"
                            highlight-current-row
                            @current-change="handleCurrentChange"
                            @row-contextmenu="handleContextMenuClick"
                            @row-dblclick="handleRowClick"
                            style="width: 100%">
                        <el-table-column
                                prop="filename"
                                label="文件名"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="modtime"
                                label="修改日期"
                                sortable
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="type"
                                sortable
                                label="类型">
                        </el-table-column>
                        <el-table-column
                                prop="size"
                                sortable
                                label="大小">
                        </el-table-column>
                    </el-table>
                    <el-card class="card box-card" v-show="card.card_show" :style="'left: '+card.left+';top: '+card.top+';'">
                        <div class="text item" @click.stop="openfile">
                            {{card.contextmenu[0]}}
                        </div>
                        <div class="text item" @click.stop="deletefile">
                            {{card.contextmenu[1]}}
                        </div>
                        <div class="text item" @click.stop="copyfile">
                            {{card.contextmenu[2]}}
                        </div>
                        <div class="text item" @click.stop="pastefile">
                            {{card.contextmenu[3]}}
                        </div>
                        <div class="text item" @click.stop="renamefile">
                            {{card.contextmenu[4]}}
                        </div>
                        <div class="text item" @click.stop="showfile">
                            {{card.contextmenu[5]}}
                        </div>
                        <div class="text item" @click.stop="createfile">
                            {{card.contextmenu[6]}}
                        </div>
                        <div class="text item" @click.stop="mkdir">
                            {{card.contextmenu[7]}}
                        </div>
                        <div class="text item" @click.stop="rmdir">
                            {{card.contextmenu[8]}}
                        </div>
                    </el-card>
                    <el-card class="blank-card box-card" v-show="blankcard.card_show" :style="'left: '+blankcard.left+';top: '+blankcard.top+';'">
                        <div class="text item" @click.stop="pastefile">
                            {{blankcard.contextmenu[0]}}
                        </div>
                        <div class="text item" @click.stop="createfile">
                            {{blankcard.contextmenu[1]}}
                        </div>
                        <div class="text item" @click.stop="mkdir">
                            {{blankcard.contextmenu[2]}}
                        </div>
                    </el-card>
                    <el-card class="text-edit" v-show="textedit.card_show">
                        <div slot="header" class="clearfix">
                            <span>{{row.filename}}</span>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="closefile">关闭</el-button>
                        </div>
                        <el-input
                                type="textarea"
                                :autosize="{ minRows: 2,maxRows:5}"
                                @change="handleContentChange"
                                @blur="writefile"
                                placeholder="请输入内容"
                                v-model="textedit.filecontent">
                        </el-input>
                    </el-card>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
</div>
<script src="index.js"></script>
</body>
</html>